.banner {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #5ed608;
}
.banner-text {
  color: #000;
  font-size: 20px;
  padding: 10px;
}
#content {
  width: 100%;
  background-image: url('../img/black_market.jpeg'),
    linear-gradient(rgba(94, 214, 8, 0.4), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
}

.hero-section {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin-top: 20px;
  padding: 30px;
}

#section-2 {
  display: flex;
  padding: 0 40px;
  align-items: center;
}
#section-2 #section-2-text {
  width: 50%;
  padding: 20px;
}
#section-2 #section-2-text h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
#section-2 #section-2-text p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
#section-2 #section-2-link {
  width: 50%;
  padding: 20px;
  text-align: center;
}

#section-2 #section-2-link .link-img {
  background-image: url('../img/mqdefault.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(94, 214, 8, 0.1));
  background-blend-mode: overlay;
  background-size: cover;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 0;
  width: 400px;
  margin: auto;
}

#section-2 #section-2-link div h1 {
  color: #5ed608;
  margin: 0;
  padding-left: 20px;
  font-family: 'Cyber';
}

@media only screen and (max-width: 780px) {
  #section-2 {
    flex-direction: column;
  }

  #section-2 #section-2-text {
    width: 100%;
  }
  #section-2 #section-2-link {
    width: 100%;
  }
}
